/****fonts****/
@font-face {
    font-family: Insight;
    src: url(resource/insight/Insight.otf);
}
@font-face {
    font-family: PrettyDahlia;
    src: url(resource/pretty_dahlia/Pretty\ Dahlia.otf);
}
body {
    background-image: url(resource/texture3.jpg);
    overflow: hidden;
    font-family: Insight;
    color: #ffffff;
}

h1{
    font-family: Insight;
    letter-spacing: 2px;
}

h3{
    text-indent: -0.5rem;
    font-size: 25px;
    margin: -0.5rem;
}

p {
    word-spacing: -5px;
    line-height: 3rem;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    font-weight: lighter;
    text-shadow: 0 0 10px #000000;
    text-indent: 5rem;
    text-align: justify;
    padding-right: 55px;
}

mark{
    color: #f8f0cf;
    background-color: #00000000;
}

/****head.htm****/
#title {
    font-size: 110px;
    font-family: PrettyDahlia;
    font-weight: bolder;
    background-color: #0000008e;
    color: transparent;
    background-clip: text;
    text-shadow: 0 0 25px rgba(111, 111, 111, 0.227);
    padding: 10px;
}

/****General style for the main content****/
.container {
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover; 
    background-position: bottom;
    border-radius: 50px;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.background {
    left: 5%;
    box-shadow: inset 0px 0px 75px 30px rgb(3, 3, 3), /*inner shadow*/
                inset 0px 0px  2px  5px rgba(0, 0, 0, 0.488), /*border*/
                      1px 2px  4px 10px rgba(0, 0, 0, 0.497), /*depth-effect*/
                      0px 0px 10px  5px rgba(0, 0, 0, 0.507), /*subtle outer shadow*/
                      0px 2px 15px 11px rgba(247, 247, 247, 0.101); /*outer highlight*/
}
.filter {
    background-image: url(resource/filter.gif);
    z-index: 10;
    opacity: 0.4;
    filter: brightness(200%);
}
.content {
    z-index: 1;
    border-radius: 50px;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 5%;
    right: 0;
    bottom: 0;
    margin: auto;
}
.content h1{
    margin-top: 55px;
    padding: 5px 30px;
    background-image: linear-gradient(to right, #000000ee, #272727dd, #00000000 );
}

/****background.htm****/
#default {
    background-image: url(resource/bg.gif);
    filter: brightness(150%);
}

/****page1.html****/
#first{
    background-image: url(resource/bg1.gif);
    filter: brightness(120%);
}
#firstImgHolder{
    position: absolute;
    width: 40%;
    height: inherit;
    left: 0;
}
#firstImage{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #000000a9;
    height: 300px;
    filter: brightness(120%);
}
#firstContent{
    position: absolute;
    width: 60%;
    height: inherit;
    right: 0;
}

/****page2.html****/
#second{
    background-image: url(resource/bg2.gif);
    filter: brightness(130%);
}
#secondImgHolder{
    position: absolute;
    width: 40%;
    height: 70%;
    left: 0;
    bottom: 0;
    margin-bottom: 15px;
}
#secondImgHolder marquee{
    padding-left: 30px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #000000ee, #272727dd, #00000000 );
    border-radius: 0 0 0 50px;
    border-top: 15px solid #00000000;
}
.likesImg{
    width: 300px;
    margin: 10px 20px;
}
#secondContent{
    display: grid;
    grid-template-columns: 45% 55%;
    position: absolute;
    width: 60%;
    height: 70%;
    right: 0;
    bottom: 0;
    border-radius:0 0 50px 0;
}
#secondContent ul{
    text-indent: 1rem;
    font-size: 15px;
    letter-spacing: 2px;
    list-style-type: none;
    text-shadow: 0 0 10px #000000;
}
#secondContent ol{
    padding-top: 35px;
    font-size: 15px;
    letter-spacing: 2px;
    list-style-type: none;
    text-shadow: 0 0 10px #000000;
}

/****page3.html****/
#third{
    background-image: url(resource/bg3.gif);
    filter: brightness(120%);
}
#thirdContent{
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
    right: 0;
}
#thirdContent marquee{
    width: 100%;
    background-image: linear-gradient(to right, #000000ee, #272727dd, #00000000 );
    border-radius: 0 0 50px 50px;
}
.scrollImage{
    height: 250px;
    margin: 20px 5px;
    filter: brightness(125%);
}

/****link.htm****/
#sidebar {
    right: 7%;
    width: 75%;
    background-image: url(resource/texture.jpg);
    box-shadow: inset 0px 0px 75px 15px rgb(3, 3, 3), /*inner shadow*/
                inset 0px 0px  2px  5px rgba(11, 11, 11, 0.488), /*border*/
                      1px 2px  4px  7px rgba(0, 0, 0, 0.497), /*depth-effect*/
                      0px 0px 10px  3px rgba(0, 0, 0, 0.507), /*subtle outer shadow*/
                      0px 2px 10px 10px rgba(247, 247, 247, 0.101); /*outer highlight*/
}
#buttons {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.buttonBorder{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px 0;
    background-image: url(resource/texture3.jpg);
    padding: 8px;
    width: fit-content;
    border-radius: 50%;
    box-shadow: inset  2px -2px  5px 3px #0000004d, /**depth shadow**/
                       0px  0px  1px 2px #00000055, /**outer highlight**/
                      -3px  3px 15px 3px #0000008e; /**outer shadow**/
}
.actualButtons {
    padding: 10px;
    background-image: url(resource/texture2.jpg);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 60px;
    box-shadow: inset 0 0 25px 10px #0000009d, /**inner shadow**/
                inset 0 0  5px  5px #3c3c3c5a, /**inner highlight**/
                      0 0 3px 1px #93939349; /**outer highlight**/
    
}
.actualButtons a {
    background-color: #00000000; /**to check check clickable area**/
    font-size: 50px;
    padding: 0 30px; /**expand clickable area**/
    margin-left: -23px;
    color: transparent;
    text-decoration: none;
}